<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>payment status</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      a {
        text-decoration: none;
        color: #ffff;
        line-height: 30px;
      }

      @media only screen and (max-width: 767px) {
        .mover-logo img {
          width: 100% !important;
        }
        .mail-logo {
          width: 100% !important;
        }
        .banner h1 {
          font-size: 26px;
          text-align: center;
        }
        .iconimg img {
          width: 100% !important;
        }
      }
    </style>
  </head>

  <body>
    <main>
      <div
        class="email-container"
        style="
          background: #ffffff;
          box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
          padding: 3rem 2rem;
          max-width: 800px;
          margin: 60px auto;
        "
      >
        <div class="email-body">
          <div class="mover-logo">
            <img
              src="https://menehariya.netscapelabs.com/images/logo Manehariya 2.png"
              class="mail.logo"
              alt=""
            />
          </div>
          <div class="banner" style="text-align: center">
            <img
              src="https://menehariya.netscapelabs.com/images/59945-success-confetti.gif"
              alt=""
              style="width: 70px; height: 70px"
            />
          </div>
          <div class="banner">
            <h1
              style="
                font-size: 20px;
                font-family: sans-serif;
                color: #fd7e14;
                text-transform: capitalize;
                text-align: center;
              "
            >
              Post Successfully Created!
            </h1>
          </div>
          <div class="email-content">
            <p
              style="
                font-size: 14px;
                color: #242424;
                font-weight: 500;
                font-family: sans-serif;
              "
            >
              Dear <%=name%>
            </p>
            <p
              style="
                font-size: 14px;
                color: #242424;
                font-weight: 500;
                font-family: sans-serif;
              "
            >
              Congratulations! Your post has been successfully created and is
              now live on our platform. We appreciate your valuable contribution
              to our community. Keep up the great work!
            </p>
            <p
              style="
                font-size: 14px;
                color: #242424;
                font-weight: 500;
                font-family: sans-serif;
              "
            >
              Best regards,
            </p>
            <p
              style="
                font-size: 14px;
                color: #242424;
                font-weight: 500;
                font-family: sans-serif;
              "
            >
              (Menehariya Team)
            </p>
            <div style="display: flex; margin-top: 30px">
              <a class="iconimg" href="https://menehariya.netscapelabs.com/"
                ><img
                  src="https://menehariya.netscapelabs.com/images/playstore.png"
                  alt=""
                  style="width: 40%"
                /> </a
              ><br />
              <a class="iconimg" href="https://menehariya.netscapelabs.com/"
                ><img
                  src="https://menehariya.netscapelabs.com/images/appstire.png"
                  alt=""
                  style="width: 40%"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
